.card{
  height: 100%;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
  border: 2px solid #f0f0f0;
}

.image {
  width: 100%;
  height: 400px;
  object-fit: cover;
  object-position: top;
  transition: all 0.2s;
}

.card:hover .image {
  transform: scale(1.1);
  object-fit: cover;
  object-position: top;
}

.footer {
  position: absolute;
  display: none;
  width: 100%;
  padding: 1rem;
  color: black;
  transition: all 0.2s;
}

.card:hover .footer{
  position: absolute;
  background: rgba(255,255,255,.87);
  width: 100%;
  padding: 50% 1rem 1rem 1rem;
  top: 0;
  height: 100%;
  display: block;

}

.menuContent{
  position: absolute;
  width: 100%;
  top: 0;
  padding: 1rem 1rem 6rem 1rem;
  z-index: 1;
  background: linear-gradient( 
    180deg
     , rgb(255 255 255) 0%, rgb(255 255 255) 36%, rgb(255 255 255 / 66%) 58%, rgb(255 255 255 / 0%) 100%);
}
.menuContent ul{
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.type{
  font-size: .8rem;
  color: #666;
  font-weight: bold;
}


.title{
  font-size: 1.5rem;
}

.moreInfo{
  display: none;
  font-size: 20px;
}

.moreInfo svg{
  width: 0;
  margin-left: 10px;
  transition: all 0.2s;
}

.moreInfo:hover svg{
  width: 20px;
  transition: all 0.2s;
}

.card:hover .moreInfo{
  display: block;
  padding: 1rem;
  width: 100%;
  flex-wrap: nowrap;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: center;
  display: flex;
}

.favBtn svg{
  font-size: .8rem;
}